.likeButton {

}

.commentButton {

}

.likeButton:hover {
    cursor: pointer;
}

.commentButton:hover {
    cursor: pointer;
}

.email {
    font-weight: bold;
}

.quote {
    font-style: italic;
}

.message {
    box-sizing: border-box;
    width: 100%;
    border: solid #5b6dcd 3px;
    padding: 5px;
    margin: 1% 0;
}

.content {
    box-sizing: border-box;
    width: 100%;
    border: solid #5b6dce 1px;
    padding: 0 10px;
    margin: 0.5% 0;
}
